@charset "UTF-8";

* {
    margin:0px; padding:0px; box-sizing:border-box;

}
ul, ol {
    list-style:none;
}
a {
    text-decoration:none;
}


/*header*/
#wrap{
  width: 100%; height: 100vh;
  background-image: url(../img/img1.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  position: relative;


}


#wrap p{
  font:bold 50px/1 'Nobile', sans-serif; color:#fff;
  position: absolute; left:50%; top:50%;
  margin-left: -85px; margin-top: -45px;
  letter-spacing: 1px;
}

#wrap .header .inner{
  width: 1380px; height: 80px;
  margin: 0 auto; position: relative;



}
#wrap .header .inner .gnb{
  width: 100%;
}
#wrap .header .inner .gnb{
  display: block; clear: both; content:'';
}
#wrap .header .inner .gnb li{
  float: left; padding:30px 0; box-sizing: border-box;
  position:relative;

}
#wrap .header .inner .gnb li a{
  display:block; margin-right: 20px;
  font:lighter 16px/1 'arial'; color:#fff;
}

#wrap .header .inner .gnb li a .bot{
  width: 0px; height: 2px; background: #000;
  position: absolute; left:-10%; top:60%
}
#wrap .header .inner .gnb li:hover a {
  display:block; margin-right: 20px;
  font:lighter 16px/1 'arial'; color:#000;
  transition: 1s;
}
#wrap .header .inner .gnb li:hover a .bot{
  width: 65px; height: 1px; background: #000; transition: 1s;
  position: absolute; left:0%; top:60%; animation-name:gnb; animation-duration: 1s;
}
@keyframes gnb {
  0%{opacity: 0; left: -20%;}
  30%{opacity: 0; left:-10%;}
  50%{opacity: 0; left:-5%;}
  100%{opacity: 1; left:0%;}
}
#wrap .header .inner .gnb li:nth-of-type(2):hover a .bot{
  width: 35px; height: 1px; background: #000;
  position: absolute; left:0%; top:60%; animation-name:gnb; animation-duration: 1s;
}
@keyframes gnb {
  0%{opacity: 0; left: -20%;}
  30%{opacity: 0; left:-10%;}
  50%{opacity: 0; left:-5%;}
  100%{opacity: 1; left:0%;}
}
#wrap .header .inner .gnb li:nth-of-type(3):hover a .bot{
  width: 85px; height: 1px; background: #000;
  position: absolute; left:0%; top:60%; animation-name:gnb; animation-duration: 1s;
}
@keyframes gnb {
  0%{opacity: 0; left: -20%;}
  30%{opacity: 0; left:-10%;}
  50%{opacity: 0; left:-5%;}
  100%{opacity: 1; left:0%;}
}

#wrap .header .inner .gnb li a .bot{
 animation-duration: 2s;
}


#wrap .header .inner h1{
  position: absolute;
  left:50%; transform:translateX(-50%); margin-top: 26px;
  filter: invert(100%);

}
#wrap .header .inner h1:hover{
  filter:contrast(100%);

}
#wrap .header .inner h1 img{
  width: 100%;
  transition: 1s;
}

#wrap .header .inner h1 a{
  display:block;  margin-bottom: 20px;


}
#wrap .header .inner .nav{
  position:absolute; right:20px; top:0;
}
#wrap .header .inner .nav::after{
  display: block; clear: both; content:'';
}
#wrap .header .inner .nav li{
  float: left;
  box-sizing: border-box;
}
#wrap .header .inner .nav li:hover a{
  opacity: 0.5;


}
#wrap .header .inner .nav li a{
  display: block;
  font:lighter 18px/1 'Nobile', sans-serif; color:#fff;
  padding:25px 10px 30px;
  transition:0.5s;
  position: relative;
}
#wrap .header .inner .nav li a i{
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
  position: absolute;
  right:53px; top:29px;


}
/*figure*/
.main{
  position: relative;
  z-index:-999;
  width: 100%;
  overflow: hidden;

}
.main video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;

    z-index: -1;

}

.main .overlay{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;


}
.main .overlay h1 {
  color: white;
  font-family:sans-serif;
  font-size: 50px;
  text-align: center;

}
/*img3*/
.img3{
  width:100%; height: 100vh;
  background-image:url(../img/img3.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  overflow: hidden;
  position: relative;




}
.img3 > p{

    font:bold 100px/1 'Nobile', sans-serif; color:#fff;
    position: absolute; left:45%; top:45%;
    margin-left: -85px; margin-top: -45px;
    letter-spacing: 1px;
  }

  /*contents*/
  .contents{
    width: 100%; height: 100vh;padding:70px 0;
    background: #000;box-sizing:border-box;
    background-attachment: fixed;

  }
  .contents .inner{
    width: 980px; margin:0 auto;

  }
  .contents .inner h1{
    font:lighter 30px/1  "Lucida Console", "Courier New", monospace; color:#fff;
    text-align: center; letter-spacing: -1px;

  }
  .contents .inner > h2{
    font:lighter 13px/1 'arial'; color:#fff;
    text-align: center; margin-bottom: 30px;
}
  .contents .inner .wrap:after{
    display: block; clear: both; content: '';
  }
  .contents .inner .wrap{
    width:100%;

  }

  .contents .inner .wrap article:nth-of-type(1){
    width: 480px; height: 400px; background: #fff;margin-right: 20px; float: left;
  }
  .contents .inner .wrap article:nth-of-type(2){
    width: 230px; height: 400px; margin-right: 20px;float: left;
  }
  .contents .inner .wrap article:nth-of-type(3){
    width: 230px; height: 400px;margin-right: 0 ;height:400px;float: left;
  }
.contents .inner .wrap article .pic1{
  width: 240px; height: 400px;
  background:url(../img/contents1.jpg) center/cover no-repeat;
  float: left;
}
.contents .inner .wrap article .content1{
  width: 240px ;height: 400px; float: left;
  padding:30px 15px; box-sizing:border-box;
}
.contents .inner .wrap article .content1 > h2{
  font:bold 14px/1 'arial'; color: #333;
  margin-bottom: 30px;
}
.contents .inner .wrap article .content1 > p{
  font:13px/1.2 'arial'; color: #777;
}
.contents .inner .wrap article .pic2{
  width: 100%; height: 70%;
  background: url(../img/contents2.jpg) center/cover no-repeat;

}
.contents .inner .wrap article .content2{
  width: 100%; height: 30%;
  background: #fff;
  overflow: hidden;

}
.contents .inner .wrap article .content2 > p{

  font:11px/1 'arial'; color: #000;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.5px;

}
.contents .inner .wrap article .pic3{
  width: 100%; height: 70%;
  background: url(../img/contents3.jpg) center/cover no-repeat;

}
.contents .inner .wrap article .content3{
  width: 100%; height: 30%;
  background: #fff;
  overflow: hidden;

}
.contents .inner .wrap article .content3 > p{

  font:11px/1 'arial'; color: #000;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.3px;

}
/*footer*/
.footer{
  width: 100%; height: 1200px;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 70px 0; box-sizing: border-box;
  position: relative;
  background-attachment: fixed;
}
.footer .reset{
  width: 500px;
  margin:0 auto;
  padding:30px 0;
  box-sizing: border-box;
}
.footer .reset:after{
  content: '';width: 100%; height: 1px; background: #ddd;
  position: absolute; left: 50%; top:35%; transform: translateX(-50%);

}
.footer .reset > h1{
  font:bold 28px/1 'Fjalla One', sans-serif;
  text-align: center; letter-spacing: -1px;
  margin-bottom: 50px;
}
.footer .reset ul{
  width: 100%;

}
.footer .reset ul li{
  margin-bottom: 10px;
  font:24px/1.4 'Noto Sans KR', sans-serif;

  margin-right:80px;
  text-align: center;
  margin:0 auto;


}

.footer .inner{
  width: 1180px; height: 600px;

  padding:30px 80px;
  box-sizing: border-box;
  margin-top: 50px;
}
.footer.inner:after{
  display: block;
  content: '';
  clear: both;
}
.footer .inner h1{
  text-align: center;
  font:bold 30px/1 'Montserrat', sans-serif;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
}
.footer .inner .email{
  width: 470px; height: 50px;
  border:2px solid #000;
  margin:0 auto;
  margin-bottom: 60px;

}
.footer .inner .email a{
  display:block; width: 100%;
  font:20px/44px 'arial';
  padding-left: 10px; box-sizing: border-box;
  color: #333;
}
.footer .inner .wrap{
  width: 100%;



}
.footer .inner .wrap ul{
  width: 255px;

  float: left;
  height: 200px;

}

.footer .inner .wrap ul  li{
  margin-bottom: 18px;

}
.footer .inner .wrap ul li a{
  font:14px/1.2 'arial';
  color: #000;
}
.footer .inner .wrap ul li h2{
  font:normal 17px/1 'arial';
  margin-bottom: 30px;
}
